
<table class="table" id="profile-table">
  <tbody>
      <tr>
        <td>Name:</td>
        <td>{{userProfile.name}}</td>
      </tr>
      <tr>
        <td>Surname:</td>
        <td>{{userProfile.surname}}</td>
      </tr>
      <tr>
        <td>Username:</td>
        <td>{{userProfile.username}}</td>
      </tr>
      <tr>
        <td>Tweets:</td>
        <td>{{userProfile.numberOfTweets}}</td>
      </tr>
      <tr>
        <td>Followers:</td>
        <td>{{userProfile.numberOfFollowers}}</td>
      </tr>
      <tr>
        <td>Following:</td>
        <td>{{userProfile.numberOfUserFollowing}}</td>
      </tr>
  </tbody>
</table>
