


<div class="panel-heading">
  <h3 class="text-left">My Profile</h3>
  <div class="text-right" style="padding-bottom:10px;">
  </div>
</div>
<div class="panel-body">
  <table class="table table-bordered">
    <tbody>
      <tr>
        <td>Name:</td>
        <td>{{userProfile.name}}</td>
      </tr>
      <tr>
        <td>Surname:</td>
        <td>{{userProfile.surname}}</td>
      </tr>
      <tr>
        <td>Username:</td>
        <td>{{userProfile.username}}</td>
      </tr>
      <tr>
        <td>Tweets:</td>
        <td>{{userProfile.numberOfTweets}}</td>
      </tr>
      <tr>
        <td>Followers:</td>
        <td>{{userProfile.numberOfFollowers}}</td>
      </tr>
      <tr>
        <td>Following:</td>
        <td>{{userProfile.numberOfUserFollowing}}</td>
      </tr>
    </tbody>
  </table>
</div>
